<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add 16 มีนาคม</title>
</head>
<body>
    <h2>เพิ่มของวันที่ 16 มีนาคม 2565</h2>
    <a href="/check_midmar">ย้อนกลับ</a>
    <form action="/add_midmar" method="post">
        <div>
            <label>id :</label>
            <input type="text" name="id" id="id">
        </div>
        <div>
            <label>เลขสลาก :</label>
            <input type="text" name="pass" id="pass">
        </div>
        <div>
            <label>ของรางวัล :</label>
            <input type="text" name="reward" id="reward">
        </div>
        <button type="submit">Submit</button>
    </form>
    <% if(typeof mesg != "undefined") { %>   
        <h1><%= mesg %></h1>   
        <% } %>
</body>
</html>
