<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>credits</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> 
        <a href="/check_midmar">16 มีนาคม</a> 
        <a href="/check_earlyapril">1 เมษายน</a> 
        <a href="/check_midapril">16 เมษายน</a> 
        <a href="/credits">credits</a> 
    </nav>
    <h2>จัดทำโดย</h2>
    <p>นาย พงศภัค สุวรรณดี</p>
    <p>รหัสนักศึกษา 1630902953</p>
</body>
</html>
