<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ผลสลากกินแบ่งรัฐบาล</title>
</head>
<body>
    <nav>
        <a>Home</a> 
        <a href="/credits">credits</a>
    </nav>
    <h1>ผลการออกรางวัลสลากกินแบ่งรัฐบาล</h1>
    <a href="/check_midmar">งวดประจำวันที่ 16 มีนาคม 2565</a><br>
    <a href="/check_earlyapril">งวดประจำวันที่ 1 เมษายน 2565</a><br>
    <a href="/check_midapril">งวดประจำวันที่ 16 เมษายน 2565</a>
</body>
</html>